<!DOCTYPE html>

<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/styles/header.css"/>
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <embed id="background-image" src="../static/svgs/background.svg"/>
        <div id="wrapper">
            <div id="header-container">
                <div id="navbar-container">
                    <a href="/" class="{% block home_class %}navbar-button{% endblock %}">
                        <img src="/static/svgs/home.svg" alt="home">
                        <h3>Home</h3>
                    </a>
                    <a href="/opportunities" class="{% block opportunities_class %}navbar-button{% endblock %}">
                        <img src="/static/svgs/explore.svg" alt="explore">
                        <h3>Opportunities</h3>
                    </a>
                    <a href="/me/responses" class="{% block responses_class %}navbar-button{% endblock %}">
                        <img src="/static/svgs/mail.svg" alt="responses">
                        <h3>Responses</h3>
                    </a>
                    <a href="/me/info" class="{% block info_class %}navbar-button{% endblock %}">
                        <img src="/static/svgs/profile.svg" alt="info">
                        <h3>Info</h3>
                    </a>
                </div>
                <div id="user-container">
                    {% if user %}
                        <div id="user-container-info">
                            <p id="user-email">{{ user['email'] }}</p>
                            <img id="user-avatar" src="{{ user['avatar_url'] }}" style="max-width: 32px; max-height: 32px;">
                        </div>
                        <div id="user-dropdown-menu">
                            <a class="user-dropdown-option" id="logout-option">
                                <img src="/static/img/chill.jpg">
                                <p>Log out</p>
                            </a>
                            <a href="/me/info" class="user-dropdown-option">
                                <img src="/static/img/chill.jpg">
                                <p>Settings</p>
                            </a>
                        </div>
                    {% else %}
                        <a href="/sign-in">Sign in</a>
                        <a href="/sign-up">Sign up</a>
                    {% endif %}

                </div>
            </div>
            <div id="content-container">{% block content %}{% endblock %}</div>
        </div>
    </body>
    <script src="/static/scripts/header.js"></script>
    {% block scripts %}
    {% endblock %}
</html>
