{% extends "base.html" %}

{% block title %}{{ name }} - Offer{% endblock %}
{% block head %}
    {{ super() }}
    <!-- TODO: add stylesheets -->
    <link rel="stylesheet" href="../static/styles/opportunity/page.css">
    <script id="opportunity-dump" type="application/json">
        {{ opportunity_dump|safe }}
    </script>
{% endblock %}
{% block content %}
    <div id="opportunity-form-div">
        <div id="opportunity-form-header">
            <div id="opportunity-form-name"></div>
            <div id="opportunity-form-provider">
                <h4>Provider:</h4>
                <div id="provider-container"></div>
            </div>
            <div id="opportunity-form-tags">
                <h4>Tags:</h4>
                <div id="tags-container"></div>
            </div>
            <div id="opportunity-form-geotags">
                <h4>Geo Tags:</h4>
                <div id="geotags-container"></div>
            </div>
            <div id="opportunity-form-link">
                <h4>Link:</h4>
                <a id="opportunity-link">https??</a>
            </div>
        </div>
        <div class="tab">
          <button class="tab-links" onclick="changeTab(event, 0)">Description</button>
          <button class="tab-links" onclick="changeTab(event, 1)">Submit</button>
          <button class="tab-links" onclick="changeTab(event, 2)">Tracking</button>
        </div>
        <div id="opportunity-form-description" class="tab-content">
            <div id="description-container"></div>
        </div>
        <div id="opportunity-form-container" class="tab-content">
            <div id="form-container"></div>
        </div>
        <div id="opportunity-form-tracking" class="tab-content">
            <div id="tracking-container"></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/static/scripts/elements/tag.js"></script>
    <script src="/static/scripts/elements/geotag.js"></script>
    <script src="/static/scripts/opportunity.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js" integrity="sha512-LhccdVNGe2QMEfI3x4DVV3ckMRe36TfydKss6mJpdHjNFiV07dFpS2xzeZedptKZrwxfICJpez09iNioiSZ3hA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
