{% extends "base.html" %}

{% block title %}Opportunities - Offer{% endblock %}
{% block head %}
    {{ super() }}
    <script id="filters-dump" type="application/json">
        {
            "providers": {{ filters['providers']|safe }},
            "tags": {{ filters['tags']|safe }},
            "geotags": {{ filters['geotags']|safe }},
            "page": {{ filters['page'] }}
        }
    </script>
    <!-- TODO: add stylesheets -->
{% endblock %}
{% block content %}
    <div id="filters-container">
        <h3>Filters</h3>
        <div id="filter-categories-container"></div>
        <button id="apply-filters-button">Apply</button>
    </div>
    <h2>Opportunities</h2>
    <div id="cards-container"></div>
{% endblock %}
{% block scripts %}
    <script src="/static/scripts/utils.js"></script>
    <script src="/static/scripts/elements/filters.js"></script>
    <script src="/static/scripts/opportunities.js"></script>
{% endblock %}
