<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Opportunities</title>
    <script id="filters-dump" type="application/json">
        {
            "providers": {{ providers|safe }},
            "tags": {{ tags|safe }},
            "geotags": {{ geotags|safe }},
            "page": {{ page }}
        }
    </script>
    <style>
        .hidden {
            display: none;
        }

        .selected {
            font-weight: 700;
        }
    </style>
</head>
<body>
    <div id="filters-container">
        <h3>Filters</h3>
        <div id="filter-categories-container"></div>
        <button id="apply-filters-button">Apply</button>
    </div>
    <h2>Opportunities</h2>
    <div id="cards-container"></div>
</body>
<script src="/static/scripts/utils.js"></script>
<script src="/static/scripts/elements/filters.js"></script>
<script src="/static/scripts/opportunities.js"></script>
</html>