{% extends "base.html" %}

{% block title %}Opportunities - Offer{% endblock %}
{% block head %}
    {{ super() }}
    <script id="filters-dump" type="application/json">
        {
            "providers": {{ filters['providers']|safe }},
            "tags": {{ filters['tags']|safe }},
            "geotags": {{ filters['geotags']|safe }},
            "page": {{ filters['page'] }},
            "pages": {{ filters['pages'] }}
        }
    </script>
    <!-- TODO: add stylesheets -->
    <link rel="stylesheet" href="../static/styles/opportunities/page.css">
{% endblock %}
{% block opportunities_class %}{{ super() }} selected{% endblock %}
{% block content %}
    <div id="opportunities-form">
            <div id="opportunities-filter-div">
                <div id="opportunities-filter">
                    <div id="filter-categories-container"></div>
                    <button id="apply-filters-button">Apply</button>
                </div>
                <div id="opportunities-nav-buttons">
                    <div id="prev-page-button" class="disabled">
                        <img src="/static/img/arrow.png">
                    </div>
                    <div id="next-page-button" class="disabled">
                        <img src="/static/img/arrow.png">
                    </div>
                </div>
            </div>
            <div id="opportunities-container-div">
                <div id="cards-container"></div>
            </div>
        </div>
{% endblock %}
{% block scripts %}
    <script src="/static/scripts/utils.js"></script>
    <script src="/static/scripts/elements/filters.js"></script>
    <script src="/static/scripts/opportunities.js"></script>
    <script src="/static/scripts/elements/tag.js"></script>
    <script src="/static/scripts/elements/geotag.js"></script>
    <script src="/static/scripts/elements/card.js"></script>
{% endblock %}
