{% extends "base.html" %}

{% block title %}Responses - Offer{% endblock %}
{% block head %}
    {{ super() }}
    <script id="filters-dump" type="application/json">
        {
            "providers": {{ filters['providers']|safe }},
            "tags": {{ filters['tags']|safe }},
            "geotags": {{ filters['geotags']|safe }},
            "page": {{ filters['page'] }}
        }
    </script>
    <link rel="stylesheet" href="../static/styles/opportunities/page.css">

    <!-- TODO: add stylesheets -->
{% endblock %}
{% block responses_class %}{{ super() }} selected{% endblock %}
{% block content %}
<div id="opportunities-form">
            <div id="opportunities-filter-div">
                <div id="opportunities-filter">
                    <div id="filter-categories-container"></div>
                    <button id="apply-filters-button">Apply</button>
                </div>
            </div>
            <div id="opportunities-container-div">
                <div id="cards-container"></div>
            </div>
        </div>
{% endblock %}
{% block scripts %}
    <script src="/static/scripts/utils.js"></script>
    <script src="/static/scripts/elements/filters.js"></script>
    <script src="/static/scripts/elements/tag.js"></script>
    <script src="/static/scripts/elements/geotag.js"></script>
    <script src="/static/scripts/elements/card.js"></script>
    <script src="/static/scripts/responses.js"></script>
{% endblock %}

