* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #EFEFEF;
}

#wrapper {
  display: grid;
  gap: 0;
  grid-template-rows: 50px calc(100vh - 50px);
    overflow-y: hidden;
    height: 100vh;
}
#header-container {
  grid-row: 1 / 2;
  display: grid;
  background-color: white;
  grid-template-columns: 10px 1fr 1fr auto 10px;
  grid-template-rows: 5px 40px 5px;
  border-bottom: 1px solid #dddfe1;
    position: sticky;
    top: 0;
}
.content-body {
  grid-row: 2 / 3;
}

#user-container {
  grid-row: 2 / 3;
  /*margin-left: auto;*/
    justify-content: right;
  grid-column: 4 / 5;
  display: flex;
  align-items: center;
  /*gap: 10px;*/
    user-select: none;
}

#user-container-info {
    border-radius: 5px;
    width: 230px;
    display: flex;
    gap: 10px;
}

#user-container-info:hover {
    background-color: #edebeb;
}

#user-email {
  font-size: 20px;
  color: #C0C0C0;
  text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#background-image {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
#user-avatar {
  width: 48px;
  border-radius: 16px;
  outline: 1.5px solid #27BBFF;
}

#navbar-container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  /*grid-column: 1 / 2;*/
}

.navbar-button {
    height: 40px;
  width: auto;
  border-radius: 5px;
}

.navbar-button.selected {
    padding-right: 4px;
}

.navbar-button img {
    width: 40px;
    filter: brightness(0) saturate(100%) invert(77%) sepia(16%) saturate(0%) hue-rotate(159deg) brightness(98%) contrast(91%);
}

.navbar-button:hover:not(.selected) {
  filter: brightness(0) saturate(100%) invert(46%) sepia(63%) saturate(0%) hue-rotate(274deg) brightness(96%) contrast(79%);
}

#navbar-container a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: black;
}

.navbar-button.selected img {
    filter: none;
}

.navbar-button:not(.selected) h3 {
    display: none;
}
.filter-item.hidden {
    display: none;
}

#user-dropdown-menu {
    position: absolute;
    z-index: 10;
    top: 50px;
    background-color: white;
    width: 230px;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    border: 1px solid #dddfe1;
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding: 5px;
    display: none;
}

#user-dropdown-menu.active-menu {
    opacity: 100%;
    display: flex;
}

.user-dropdown-option {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: auto;
    cursor: pointer;
    text-decoration: none;
}

.user-dropdown-option:hover{
    background-color: #edebeb;
}

.user-dropdown-option p {
    color: black;
    font-size: 14px;
    border: 0;
}
.user-dropdown-option img {
    width: 20px;
    height: 20px;
}

#user-container-info {
    display: flex;
    align-items: center;
    padding: 5px;
}
